#addCollection-modal{
    display: none;
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height:100%;
    z-index: 1000;
    background:rgba(0,0,0,0.2);
}
#addCollection-list{
    float: right;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 4px #ACACAC;
    padding: 24px 30px 0px;
    width: 320px;
    height: auto;
    margin-top: 66px;
}
#addCollection-list form input{
    display:inline-block;
    border:1px solid #cccccc;
    margin: 12px;
}
#addCollection-list form label .label-name{
    margin: 6px 20px;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #93247A;
}
#addCollectionSaveToGroup,#addCollectionCancelToGroup{
    display:inline-block;
    padding: 6px 30px;
    width: 100px;
    margin:20px 12px;
    background-color: #f2f2f2;
    border: 1px solid #93247A;
    border-radius: 6px;
    color: #93247a;
    cursor: pointer;
}
#addCollectionSaveToGroup:hover,#addCollectionCancelToGroup:hover{
    background-color: #93247a;
    color: #f2f2f2;
}
#addCollectionComment{
    resize: none;
    width: 310px;
    height: 60px;
}