#side-nav{
    position: fixed;
    width:200px;
    height: 288px;
    float: left;
    background-color: #F2F2F2;
    box-shadow: 4px 4px 4px #ACACAC;
}
#side-nav nav ul li img{
    width: 22px;
    display: inline-block;
    vertical-align:middle;
}
#side-nav nav ul li a{
    color: #000;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
}
#side-nav nav ul li {
    padding: 12px 60px;
}
#side-nav nav ul li:hover{
    background-color: #cccccc;
}
#side-nav nav ul:last-child{
    padding-bottom: 8px;
}
#side-nav nav ul .side-border{
    border-top: 1px solid #cccccc;
    margin: 0 6px;
    padding-bottom: -4px;
}